#home_text
{
    font-family: monospace;
    text-align: center;
}
#home_box
{
    position: absolute;
    top: 50%;
    border: 2px solid black;
    left: 10%;
    right: 10%;
}
#home_background_image
{
    max-width: 100%;
    max-height: 100%;
    opacity: .5;
}
#displayArea
{
    padding-left: 0px;
    padding-right: 0px;
}